.product-card {
    width: 500px;
    height: 570px;
    box-sizing: border-box;

    gap: 1rem;

    border: 3px solid #a1c5d7;
    /* box-shadow: 3px 3px 10px black; */

    background: #1c1b22;

}

.product-card img {
    max-width: 320px;
}
.product-text {
    text-align: center;
}
.product-text p {
    font-size: .9rem;
    margin: 1rem;
    margin-bottom: 8px;
    text-align: justify;
    overflow: scroll;
    height: 33%;    
}

.quantity-selector > button {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    background-color: #a1c5d7;
}
.quantity-selector button:first-of-type {
    border-radius: 5px 0 0 0px;
}
.quantity-selector button:last-of-type {
    border-radius: 0 5px 0px 0;
}
.quantity-selector > input {
    padding: .7rem;
    height: 2rem;
    font-size: 1.3rem;

    width: 70%;
}
.product-cart-menu {
    justify-content: space-evenly;
}
.product-cart-menu a {
    width: 20%;
    color: purple;
    border: 3px white solid;
    border-radius: 10px;
}
.product-cart-menu > button {
    width: calc(70% + 4rem);
    
    padding: .4rem;
    border-top: 3px solid white;
    border-radius: 0 0 5px 5px;
    
    background-color: #a1c5d7;
    font-size: 1.4rem;
    font-weight: 600;
}

.product-card button:hover {
    background-color: #417792;
}
.product-img {
    position: relative;
    width: 100%;
}
.product-img p {
    display: inline-block;
    text-align: center;

    font-size: .6rem;

    position: absolute;
    bottom: 0;

    background-color: rgba(255,255,255, .8);
    color: black;
}
.product-img p a {
    color: #417792;
}