:root {
    --coffee-img-size: 1;
    --default-transition-time: .2s;
}

main.home {
    display: grid;
    grid-template-columns: 4fr 5fr;

    height: 100%;
}

.home-text {
    box-sizing: border-box;
    align-items: self-start;
    gap: 1rem;
    
    padding: 0rem 2rem;
    border-radius: 10px 10px 150px 150px;
    
    background: linear-gradient(to bottom, #1c1b22, #2e2d36);
    transition: all var(--default-transition-time) ease-in-out;
    text-align: justify;
}
.home-text:hover {
    background: linear-gradient(to bottom, #2e2d36, #1c1b22);
    outline: 5px solid white;
}

.home-text h3 {
    text-decoration: underline;
    color: #bb427f;

    font-size: 1.3rem;
}

.home-text h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.home-text a {
    align-self: center;

    font-size: 1.4rem;
    font-weight: 600;
    padding: 1em .7em;
    text-decoration: none;
    color: inherit;
    border: 3px solid white;
    border-radius: 10px;

    transition: all var(--default-transition-time) ease-in-out;
}

.home-text a:hover {
    background-color: #a1c5d7;
    transform: scale(1.1);
}

.home-hero {
    height: 100%;
}
.home-hero img {
    height: 750px;
    transform: scale(var(--coffee-img-size));
    transition: all var(--default-transition-time) ease-in-out;
}