:root {
    --svg-color: #4f0842;
    --svg-opacity: 0;
}

main {
    padding: 1rem;
}

.wrapper {
    height: 100vh;
    
    display: grid;
    grid-template-rows: auto 1fr;

    z-index: 1;
}

.custom-shape-divider-bottom-1683553058 {
    z-index: -1;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    opacity: var(--svg-opacity);
    transition: all 1s ease-in;
}

.custom-shape-divider-bottom-1683553058 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
}

.custom-shape-divider-bottom-1683553058 .shape-fill {
    transition: fill .3s ease-in-out;

    fill: var(--svg-color);
}  