nav.navigation {
    box-sizing: border-box;
    justify-content: space-around;

    position: relative;

    background-color: #1a1a1a;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url("../../assets/images/pngwing.com.png");
    background-blend-mode: normal;

    border-bottom: #0e252a 8px solid;
    border-radius: 0 0 25% 10% / 0 0 60px 20px;   
}

.navigation > h1 {
    display: inline-block;
    box-sizing: border-box;
    width: 22%;

    position: relative;
    transform: translateX(-65%);
    padding: 0em 1em;

    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 25px 10px 0;
}

.navigation ul {
    list-style: none;
}
.navigation li {
    margin: 1rem;
    transition: all var(--default-transition-time) ease-in-out;    
}

.navigation li > a {    
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1em .7em;
    text-decoration: none;
    color: inherit;
    border: 3px solid white;
    border-radius: 10px;

    transition: all var(--default-transition-time) ease-in-out;
}

.navigation li:hover {
    transform: scale(1.1);
}

.navigation li > a.home-nav:hover {
    background-color: #8d0f75;
}

.navigation li > a.shop-nav:hover {
    background-color: #a1c5d7;
}

.navigation li > a.about-nav:hover {
    background-color: #71087b;

}
