nav.navigation {
    justify-content: space-around !important;

    position: relative;

    background-color: #1a1a1a;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url("../../assets/images/pngwing.com.png");
    background-blend-mode: normal;

    padding: 30px;
    border-radius: 0 0 25% 10% / 0 0 60px 20px;   
}

.navigation ul {
    list-style: none;
}
.navigation li {
    margin: 1rem;
}

.navigation li > a {
    padding: 1rem .5rem;
    text-decoration: none !important;
    color: inherit;
    border: 1px solid white;
    border-radius: 10px;

    transition: all .2s ease-in-out;
}

.navigation li > a:hover {
    background-color: white;
    color: black;
}